body{
  background-image: url(../images/bg-login.png);
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
}

.titulo-principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Great Vibes',cursive;
    color:#fff;
    font-size:7.5rem;
    margin-top: 2rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.10em;
    font-weight:lighter;
}

p{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Kranky',cursive;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-size:3rem;
  color: #fff;
  padding: 0.1rem;
}

form{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 3rem;
  text-align: center;
  font-size:1.6rem;
  color: #fff;
  flex: 1;
}


legend{
  text-align: center;
  font-family: 'Great Vibes',cursive;
  color:#fff;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}

label{
  height: 1.8rem;
  margin-bottom: 1rem;
}

input{
  padding: 0px;
  text-align: center;
  border-radius: 0.5rem;
  height: 1.8rem;
  width:25rem;
  margin-bottom: 1rem;
}

button{
  padding: 0.3rem;
  font-size: 1.8rem;
  font-family: 'Kranky', cursive;
  border-radius: 1.5rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  width: 11rem;
  height: 3.5rem;
  color: #fff;
  background-color: #f1634b;
  -webkit-animation: quica 2.5s infinite;
  animation: quica 2.5s infinite ease-in ease-out;
  position: relative;
  animation-direction: alternate;
}

.camposdeentradacadastro{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.camposdeentradalogin{
  display: flex;
  align-items: center;
  flex-direction: column;
}
button:hover{
  animation-play-state: paused;
}


-webkit-@keyframes quica {
  from{
    top:0;
  }
  to {
      top:0.8em;
  }
}

@keyframes quica {
  from{
    top:0;
  }to{
top:0.8em;
  }
}
