body{
  background-image: url(../images/bg-login.png);
}

.titulo-principal{
    display: inline-block;
    width: 100%;
    font-family: 'Great Vibes',cursive;
    color: #fff;
    font-size:7.5em;
    margin-top: 3rem;
    word-spacing: 0.3em;
    letter-spacing: 0.15em;
    text-align: center;
    font-weight: lighter;
}

p{
  margin-top: 1em;
  text-align: center;
  font-size:2.5em;
  color: #fff;
  padding: 0.2em;
}

form{
  text-align: center;
  font-size:2.1em;
  color: #fff;
  margin-left: 2.5em;
}


legend{
text-align: center;
  font-family: 'Great Vibes',cursive;
  color:#fff;
}

label{
  height: 1.8rem;
  margin-bottom: 1rem;
}

input{
  padding: 0px;
  text-align: center;
  border-radius: 0.5rem;
  height: 2rem;
  width:20rem;
  margin-bottom: 1rem;
}

#nome{
width: calc(100%-2em);
left:2em;
}

button{
  padding: 0.5rem;
  font-size: 2.2rem;
  font-family: 'Great Vibes', cursive;
  border-radius: 1.5rem;
  word-spacing: 0.3em;
  letter-spacing: 0.1em;
  margin-top: 1rem;
  width: 12rem;
  height: 4rem;
  color: #fff;
  background-color: #f1634b;
  -webkit-animation: quica 2s infinite;
  animation: quica 2s infinite ease-in ease-out;
  position: relative;
  animation-direction: alternate;
}

button:hover{
  animation-play-state: paused;
}

#cadastro{
  margin-top: 3rem;
  margin-left:5rem;
  float: left;
}

#login{
  float: right;
  margin-top: 3rem;
  margin-right:10rem;
}

-webkit-@keyframes quica {
  from{
    top:0;
  }
  to {
      top:0.8em;
  }
}
@keyframes quica {
  from{
    top:0;
  }to{
top:0.8em;
  }
}
