body{
  background-image: url(../images/bg-login.png);
}

.titulo-principal{
    display: inline-block;
    width: 100%;
    font-family: 'Great Vibes',cursive;
    color: #fff;
    font-size:7.5em;
    margin-top: 5.5rem;
    word-spacing: 0.3em;
    letter-spacing: 0.15em;
    text-align: center;
    font-weight: lighter;
}

p{
  margin-top: 1em;
  text-align: center;
  font-size:2.5em;
  color: #fff;
  padding: 0.2em;
}

form{

  text-align: center;
  margin-top:1em;
  font-size:2.5em;
  color: #fff;
  margin-left: 2.5em;
}


legend{
text-align: center;
  font-family: 'Great Vibes',cursive;
  color:#fff;
}
label{
  height: 2rem;
  margin-bottom: 1rem;
}

input{
  padding: 0px;
  text-align: center;
  border-radius: 0.5rem;
  height: 2rem;
  width:20rem;
  margin-bottom: 1rem;
}

button{
  padding: 0.5rem;
  font-size: 2.5rem;
  font-family: 'Great Vibes', cursive;
  border-radius: 1.5rem;
  word-spacing: 0.3em;
  letter-spacing: 0.1em;
  margin-top: 1rem;
  width: 12rem;
  height: 4rem;
  color: #fff;
  background-color: #f1634b;
}

#cadastro{
  margin-top: 3rem;
  margin-left:20rem;
  float: left;
}

#login{
    margin-top: 3rem;
  float: right;
  margin-right:20rem;
}
label [for="nome"]::after{
position: relative;
}

label [for="nome"]:before{
  content: "";
  background-image: url(../images/user.jpg);
  background-size: 50% 50%;
  width: 2em;
  position: absolute;
  top: 100%;
  left: 0;
  background-position: center;

}
