
html{
  font-size: 120%;
}

body{
  background: #fff;
  font-size: 0.9em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

aside nav h1{
  text-transform: uppercase;
}

nav{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

nav h1{
    font-family: 'Kranky',sans-serif;
    background-color:#32a7e5;
    color: #fff;
    font-size:2.5em;
    text-align: center;
    padding-top: 0.4rem;
    word-spacing: 0.7em;
    letter-spacing: 0.15em;
    text-align: center;

}

nav ul{
  width: 100%;
  font-family: 'Kranky',sans-serif;
  padding: 0.2rem;
  background: #5ed97b;
  text-align: center;
  font-size: 1.0em;
  word-spacing: 0.7em;
  letter-spacing: 0.15em;
}

nav ul li {
  display: inline-block;
  font-size: 1.7em;
  color: #fff;
  padding-right: 1.0rem;
  padding-bottom: 0.2rem;
}


nav ul li a{
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover{
  color: #f1634b;
}


main h1{
    background-color:#32a7e5;
    color: #fff;
    font-family: 'Kranky',sans-serif;
    font-size:2.0em;
    text-align: center;
    border-radius: 0.4rem;
    border: 0.1rem solid black;
    padding: 0.2rem;
    word-spacing: 0.7em;
    letter-spacing: 0.1rem;
}

#conteudo h2{
  background-color:#32a7e5;
  color: #fff;
  font-family: 'Kranky',sans-serif;
  font-size:1.6em;
  text-align: center;
  padding: 0.2rem;
  border-radius: 0.4rem;
  border: 0.1rem solid black;
  word-spacing: 0,7em;
  letter-spacing: 0.1rem;
}

#conteudo p {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-family: 'Roboto';
  font-size: 1.1em;
  word-spacing: 0.2em;
  margin-left: 1.1rem;
  line-height: 1.5em;
  text-align:justify;
}


img{
  width: 18rem;
  height: 15rem;
  box-shadow: 0.3rem 0.2rem  0.2rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;

}

figure{
  margin-top: 6rem;
  margin-bottom:1rem;
  text-align: center;
  font-size: 0.7em;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

figure:hover{
  -webkit-transform:rotate(5deg);
}

#conteudo a{
  color:black;
  text-decoration: none;
}

figcaption{
  font-family: 'Great Vibes',cursive;
  font-size: 1.7em;
}

#conteudo a:hover{
  color:#5ed97b;
}

footer li{
  display: inline-block;
  margin: 0.1rem;
}

footer img{
  text-align: center;
  width: 2rem;
  height: 2rem;
}

footer h2{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.4rem;
  height: 0.4em;
  background: rgb(253, 193, 74);
  color: #fff;
  text-align: center;
  margin-bottom: 0.02rem;
}

#icones a{
  padding: 0.2rem;
  color: black;
  background-image: url(../images/github.png);
}
