body{
  background: #fff;
  font-size: 1.0em;
  background-image: url(../images/bg-login.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.titulo-principal{
    display: inline-block;
    width: 100%;
    font-family: 'Kranky',sans-serif;
    background-color:#32a7e5;
    color: #fff;
    font-size:2.5em;
    padding-top: 0.4rem;
    word-spacing: 0.7em;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation: aparece 2s ease-in;
    animation: aparece 3s ease-in;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: 'Kranky',sans-serif;
  background: #5ed97b;
  text-align: center;
  font-size: 0.9rem;
  word-spacing: 0.6em;
  letter-spacing: 0.10em;
}

nav ul{
  margin-left: 2rem;
  margin-right: 2rem;
}


nav ul li {
  display: inline-block;
  font-size: 1.6em;
  color: #fff;
  padding-right: 1.0rem;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;

}

nav ul li:hover{
  transform:scale(1.5);
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

nav ul li a:hover{
  color: #f1634b;
}

main h1{
    background-color:#32a7e5;
    color: #fff;
    font-family: 'Kranky',sans-serif;
    font-size:2.0em;
    text-align: center;
    border-radius: 0.4rem;
    border: 0.1rem solid black;
    padding: 0.2rem;
    word-spacing: 0.7em;
    letter-spacing: 0.1rem;
}

img{
  width: 18rem;
  height: 15rem;
  box-shadow: 0.3rem 0.2rem  0.2rem rgba(0, 0, 0, 0.5);
  border-radius: 7.5rem;
  transform: rotate(-8deg);
  transition: transform 1.5s linear, box-shadow 1s ease-in;
  position: relative;
  -webkit-animation: quica 2s infinite ease-out;
  animation: quica 2s infinite ease-in ease-out;
  animation-direction: alternate;
}

figure{
  margin-top: 1rem;
  margin-bottom:1rem;
  text-align: center;
  font-size: 0.7em;
}

img:hover{
  transform: rotate(8deg);
  transform: scale(1.1);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
  animation-play-state: paused;
}

#conteudo{
  opacity: 0.8;
  width: 76%;
  margin-left: auto;
  margin-right: auto;
}

#conteudo h2{
  background-color:#32a7e5;
  color: #fff;
  font-family: 'Kranky',sans-serif;
  font-size:1.6em;
  text-align: center;
  padding: 0.2rem;
  border-radius: 0.4rem;
  border: 0.1rem solid black;
  word-spacing: 0,7em;
  letter-spacing: 0.1rem;
}

#conteudo p {
  color: #fff;
  padding-top: 0.2rem;
  font-family: 'Roboto';
  font-size: 1rem;
  word-spacing: 0.2em;
  margin-left: 1.5rem;
  margin-bottom: 0.4rem;
  line-height: 1.4em;
  text-align:justify;
  font-weight: 500;
}

#conteudo a{
  color: #fff;
  text-decoration: none;

}

figcaption{
  margin: 0.5em;
  font-family: 'Great Vibes',cursive;
  font-size: 1.8em;
}

#conteudo a:hover{
  color:#5ed97b;
}


footer ul {
    margin: 2rem;;
}

footer ul li{
    margin: 0.5rem;
}

footer li{
  display: inline-block;
}

footer img{
  text-align: center;
  width: 2rem;
  height: 2rem;
}

footer h2{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.4rem;
  height: 0.8em;
  background-color: rgba(100, 150, 200,0.4);
  color: #000;
  text-align: center;
  margin-bottom: 0.02rem;
}


#icones a{
  padding: 0.1rem;
  color: black;
  background-image: url(../images/github.png);
}

-webkit-@keyframes aparece {
0%{
opacity: 0;
}
100%{
opacity: 1;
}
}

@keyframes aparece {
0%{
opacity: 0;
}
100%{
opacity: 1;
}
}

-webkit-@keyframes quica {
  from{
    top:0;
  }
  to {
      top:0.9em;
  }
}
@keyframes quica {
  from{
    top:0;
  }
  to{
    top:0.9em;
  }
}
