body{
  font-family: 'Kranky',sans-serif;
  background: #fff;
  font-size: 16px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

main h1{
    background-color:#32a7e5;
    color: #fff;
    font-family: 'Kranky',sans-serif;
    font-size:2.1em;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px;
    word-spacing: 0.7em;
}

h2{
  background-color:#32a7e5;
  color: #fff;
  font-family: 'Kranky',sans-serif;
  font-size:1.7em;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid black;
  word-spacing: 0,7em;
}



p {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Roboto';
  font-size: 1.2em;
  word-spacing: 0.2em;
  margin-left: 40px;
  line-height: 1.5em;
  text-align:justify;
}


img{
  width: 400px;
  height: 300px;
  box-shadow: 3px 2px  2px rgba(0, 0, 0, 0.5);
  border-radius: 15px;

}

figure{
  margin-top: 120px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 10px;
  font-family: cursive;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

figure:hover{
  -webkit-transform:rotate(5deg);
}

cite{
  text-indent: 5px;
}

a{
  color: #fff;
}

p a{
  color:black;
}

nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav h1{
    display:block;
    width: 100%;
    background-color:#32a7e5;
    color: #fff;
    font-family: 'Kranky',sans-serif;
    font-size:2.5em;
    text-align: center;
    padding: 5px;
    word-spacing: 0.7em;

}

nav ul{
  padding-top: 5px;
  background: #5ed97b;
  text-align: center;

}


a{
  text-decoration: none;
}


nav ul li {
  font-size: 2.5em;
  color: #fff;
  padding-right: 50px;
  display: inline-block;
  padding-bottom: 5px;
}


figcaption{
  font-family: 'Great Vibes',cursive;
  font-size: 1.8em;
}

p a:hover{
  color:#5ed97b;
}

footer ul li{
  display: inline-block;
  margin: 10px;
}

footer img{
  text-align: center;
  width: 60px;
  height: 40px;
}
