
html{
  font-size: 120%;
}

body{
  background: #fff;
  font-size: 0.9em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

nav{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

nav h1{
    font-family: 'Kranky',sans-serif;
    background-color:#32a7e5;
    color: #fff;
    font-size:2.5em;
    text-align: center;
    padding-top: 0.4rem;
    word-spacing: 0.7em;
    letter-spacing: 0.15em;
    text-align: center;

}

nav ul{
  width: 100%;
  font-family: 'Kranky',sans-serif;
  padding: 2px;
  background: #5ed97b;
  text-align: center;
  font-size: 1.0em;
  word-spacing: 0.7em;
  letter-spacing: 0.15em;
}

nav ul li a:hover{
  color: #f1634b;
}


main h1{
    background-color:#32a7e5;
    color: #fff;
    font-family: 'Kranky',sans-serif;
    font-size:2.1em;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px;
    word-spacing: 0.7em;
}

#conteudo h2{
  background-color:#32a7e5;
  color: #fff;
  font-family: 'Kranky',sans-serif;
  font-size:1.7em;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid black;
  word-spacing: 0,7em;
}



p {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Roboto';
  font-size: 1.2em;
  word-spacing: 0.2em;
  margin-left: 40px;
  line-height: 1.5em;
  text-align:justify;
}


img{

  width: 400px;
  height: 300px;
  box-shadow: 3px 2px  2px rgba(0, 0, 0, 0.5);
  border-radius: 15px;

}

figure{
  position: relative;
  margin-top: 120px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 10px;
  font-family: cursive;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

figure:hover{
  -webkit-transform:rotate(5deg);
}

cite{
  text-indent: 5px;
}

a{
  color: #fff;
}

p a{
  color:black;
}




#conteudo a{
  text-decoration: none;
}

nav a{
    text-decoration: none;
}

nav ul li {
  font-size: 1.7em;
  color: #fff;
  padding-right: 40px;
  display: inline-block;
  padding-bottom: 5px;
}


figcaption{
  font-family: 'Great Vibes',cursive;
  font-size: 1.8em;
}

p a:hover{
  color:#5ed97b;
}

footer li{
  display: inline-block;
  margin: 10px;
}

footer img{
  text-align: center;
  width: 50px;
  height: 40px;
}

footer h2{
  bottom: 0;
  left: 0;
  right: 0;
    position: fixed;
  padding: 10px;
  display: inline-block;
  width: 100%;
  height: 0.9em;
  background: rgb(253, 193, 74);
  color: black;
    text-align: center;
}

aside nav h1{
  text-transform: uppercase;
}

#icones a{
  padding: 5px;

  color: black;
  background-image: url(../images/github.png);
}

footer li{
   margin-bottom: 40px;

}
