h1{
    font-size:1.9em;
    color: #fff;
    background:#32a7e5;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px;
    word-spacing: 0.7em;
}

h2{
  font-size:1.7em;
  color: #fff;
  text-align: center;
  background:#32a7e5;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid black;
  word-spacing: 0,7em;
}

body{
  text-indent: 10px;
  background: #fff
  font: Arial;
  font-size: 16px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

p {
  line-height: normal;
  word-spacing: 0.2em;
  margin-left: 25px;
  line-height: 1.3em;
  font-size: 1.1em;
  text-align:justify;
}

img{
  width: 350px;
  height: 300px;
  box-shadow: 3px 2px  2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

figure{
  font-size: 10px;
  font-family: cursive;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

figure:hover{
  -webkit-transform:rotate(5deg);
}

cite{
  text-indent: 5px;
}

a{
  color: #fff;
}

p a{
  color:black;
}

nav{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  background: #5ed97b;
  text-align: center;
  font-size: 1.9em;
  height: 50px;
}

a{
  text-decoration: none;
}

nav{
  padding-top: 0;
  padding-bottom: 20px;
}


nav ul li {
  color: #fff;
  padding-right: 50px;
  display: inline;
}

#foto-marden{
}

#foto-monica{
}

#foto-sylvania{
}

#fotos-irmaos{
  float: left;
  display: inline;
}

p a:hover{
  color:#5ed97b;
}

#conteudo{
}
