html{
  font-size: 1em;
  background-image: url(../images/bg-login.png);
  background-size: cover;
}

.titulo-principal{
    display: inline-block;
    width: 100%;
    font-family: 'Kranky',sans-serif;
    background-color:#32a7e5;
    color: #fff;
    font-size:4.4em;
    padding-top: 0.1em;
    word-spacing: 0.4em;
    text-align: center;
    -webkit-animation: aparece 2s ease-in;
    -moz-animation: aparece 2s ease-in;
     animation: aparece 3s ease-in;
}

nav{
  font-size: 150%;
  border: 0.05em solid black;
  font-family: 'Kranky',sans-serif;
  background: #fdc14a;
  letter-spacing: 0.1em;
}

nav ul{
  margin-left: 0.2em;
  margin-right: 0.2em;
  text-align: center;
  padding: 0.1em;

}

nav ul li {
  display: inline-block;
  padding: 0.1em;

}

nav ul li:hover{
  transform:scale(1.5);
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  margin-right: 1em;
  font-size: 125%;
}

nav ul li a:hover{
  color: #f1634b;
}

img{
  width: 11%;
  max-width: 100%;
  box-shadow: 0.3em 0.2em 0.2em rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  border: 0.5em double #dddfe2;
  transform: rotate(-8deg);
  transition: transform 1.5s linear, box-shadow 1s ease-in;
  position: relative;
  -webkit-animation: quica 2s infinite ease-out;
  animation: quica 2s infinite ease-in ease-out;
  animation-direction: alternate;
}

figure{
  margin-top: 0.4em;
  margin-bottom:1rem;
  text-align: center;
}

figcaption{
  font-size: 1.5em;
  margin: 1em;
  font-family: 'Great Vibes',cursive;

}

main h1{
    background-color:#32a7e5;
    color: #fff;
    font-family: 'Kranky',sans-serif;
    font-size:2em;
    text-align: center;
    border-radius: 4em;
    border: 0.05em solid black;
    padding: 0.2em;
    word-spacing: 0.6em;
    letter-spacing: 0.1em;
}

img:hover{
  transform: rotate(8deg);
  transform: scale(1.1);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
  animation-play-state: paused;
}

#conteudo{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#conteudo h1{
  background-color:#32a7e5;
  border: 0.05em solid black;
  border-radius: 0.5em;
  font-size: 150%;
}

#conteudo p {
  color: #fff;
  font-family: 'Roboto';
  font-size: 100%;
  word-spacing: 0.2em;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  text-align:justify;
  font-weight: normal;
}

#conteudo a{
  color: #fff;
  text-decoration: none;
}



#conteudo a:hover{
  color:#5ed97b;
}

footer ul {
    margin-left: 7em;
}

footer li{
  display: inline-block;
}

footer ul li{
  margin-bottom: 1em;
  margin-right: 1em;

}

footer img{
  text-align: center;
  border: 0.1em solid #dddfe2;
  width: 3em;
  height: 3em;
}

footer h2{
  font-size: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.4em;
  height: 0.8em;
  background-color: rgba(100, 150, 200,0.2);
  color: #fff;
  text-align: center;
  margin-top: 1em;
}


#icones a{
  padding: 0.1rem;
  color: black;
  background-image: url(../images/github.png);
}

-webkit-@keyframes aparece {
0%{
opacity: 0;
}
100%{
opacity: 1;
}
}

@keyframes aparece {
0%{
opacity: 0;
}
100%{
opacity: 1;
}
}

-webkit-@keyframes quica {
  from{
    top:0;
  }
  to {
      top:0.9em;
  }
}
@keyframes quica {
  from{
    top:0;
  }
  to{
    top:0.9em;
  }
}

@media (max-width:768px){

  html{
    background-image: url(../images/bg-login.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  body{
    font-size: 1em;
  }

  .titulo-principal{
      display: flex;
      justify-content: center;
      width: 100%;
      font-family: 'Kranky',sans-serif;
      background-color:#32a7e5;
      color: #fff;
      font-size:4em;
      padding-top: 0.4em;
      word-spacing: 0.1em;
      letter-spacing: 0.1em;
      text-align: center;
      -webkit-animation: aparece 2s ease-in;
      animation: aparece 3s ease-in;
  }

  nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    background: #33ccff;
    font-family: 'Kranky',sans-serif;
    font-size: 1.4em;
    text-align: center;
    word-spacing: 2em;
    width: 99%;
  }

  nav ul{
    margin-left: 2rem;
    margin-right: 2rem;
  }


  nav ul li {
    display: inline-block;
    font-size: 2em;
    color: #fff;
    padding-right: 1.0rem;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;

  }

  nav ul li:hover{
    transform:scale(1.5);
  }

  nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
  }

  nav ul li a:hover{
    color: #f1634b;
  }


  img{
    width: 60%;
    height: 30%;
    box-shadow: 0.3rem 0.2rem  0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 7.5rem;
    transform: rotate(-8deg);
    transition: transform 1.5s linear, box-shadow 1s ease-in;
    position: relative;
    -webkit-animation: quica 2s infinite ease-out;
    animation: quica 2s infinite ease-in ease-out;
    animation-direction: alternate;
  }

  figure{
    margin-top: 1em;
    margin-bottom:1rem;
    text-align: center;
    font-size: 0.7em;
  }

  main h1{
      background-color:#32a7e5;
      color: #fff;
      font-family: 'Kranky',sans-serif;
      font-size:1.5em;
      text-align: center;
      border-radius: 0.4rem;
      border: 0.1rem solid black;
      padding: 0.2rem;
      word-spacing: 0.7em;
      letter-spacing: 0.1rem;
  }

  img:hover{
    transform: rotate(8deg);
    transform: scale(1.1);
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
    animation-play-state: paused;
  }

  #conteudo{
    width: 90%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  #conteudo h2{
    background-color:#32a7e5;
    color: #fff;
    font-family: 'Kranky',sans-serif;
    font-size:1.6em;
    text-align: center;
    padding: 0.2rem;
    border-radius: 0.4rem;
    border: 0.1rem solid black;
    word-spacing: 0,7em;
    letter-spacing: 0.1rem;
  }


  #conteudo p {
    color: #fff;
    padding-top: 0.2rem;
    font-family: 'Roboto';
    font-size: 1.1em;
    word-spacing: 0.1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5rem;
    line-height: 2em;
    text-align:justify;
    font-weight: normal;
  }

  #conteudo a{
    color: #fff;
    text-decoration: none;

  }

  figcaption{
    margin: 1em;
    font-family: 'Great Vibes',cursive;
    font-size: 1.8em;
  }

  #conteudo a:hover{
    color:#5ed97b;
  }


  footer ul {
      margin: 2rem;;
  }

  footer ul li{
      margin: 0.5rem;
  }

  footer li{
    display: inline-block;
  }

  footer img{
    text-align: center;
    width: 2rem;
    height: 2rem;
  }

  footer h2{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.4rem;
    height: 0.8em;
    background-color: rgba(100, 150, 200,0.4);
    color: #000;
    text-align: center;
    margin-bottom: 0.02rem;
  }


  #icones a{
    padding: 0.1rem;
    color: black;
    background-image: url(../images/github.png);
  }

  -webkit-@keyframes aparece {
  0%{
  opacity: 0;
  }
  100%{
  opacity: 1;
  }
  }

  @keyframes aparece {
  0%{
  opacity: 0;
  }
  100%{
  opacity: 1;
  }
  }

  -webkit-@keyframes quica {
    from{
      top:0;
    }
    to {
        top:0.9em;
    }
  }
  @keyframes quica {
    from{
      top:0;
    }
    to{
      top:0.9em;
    }
  }
}
